* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
}

.content {
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

p.descr {
  margin-bottom: 10px;
  font-family: sans-serif;
}

p.descr:empty {
  display: none;
}

p {
  margin: 0 0 5px;
}

small {
  font-weight: 400;
  font-size: 1em;
}

a {
  text-decoration: underline;
}

a:hover, a:focus {
  text-decoration: none;
}

div[style^="font-family"] p {
  white-space: nowrap;
  overflow: hidden;
}

hr {
  margin: 20px 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ADADAD;
}

.collapse {
  margin-bottom: 35px;
}
